/* General -------------------------------------------------- */
.pb-btn {
    background-color: var(--color-btn-blue);
    
    border: 3px solid var(--color-btn-blue);

    color: white;

    transition: 300ms ease-in-out;
}

/* Button State -------------------------------------------------- */
.btn-isActive,
.pb-btn:is(:hover, :focus) {
    color: var(--color-btn-blue);
    background-color: rgb(6, 130, 175);
    background-color: transparent;
}

.pb-btn:disabled {
    background-color: var(--color-btn-disabled);
    border-color: var(--color-btn-disabled);
}

.pb-btn:disabled:is(:hover, :focus) {
    background-color: var(--color-btn-disabled);
    border-color: var(--color-btn-disabled);
    color: white;
}

/* Button Status -------------------------------------------------- */
.pb-btn.btn-status-ok {
    background-color: var(--color-btn-ok-dark);
    border-color: var(--color-btn-ok-dark);
}

.pb-btn.btn-status-ok:is(:hover, :focus,.btn-isActive) {
    color: var(--color-btn-ok-dark);
    background-color: transparent;
}

.pb-btn.btn-status-warning {
    background-color: var(--color-btn-warning-dark);
    border-color: var(--color-btn-warning-dark);
}

.pb-btn.btn-status-warning:is(:hover, :focus, .btn-isActive) {
    color: var(--color-btn-warning-dark);
    background-color: transparent;
}

.pb-btn.btn-status-attention {
    background-color: var(--color-btn-attention-dark);
    border-color: var(--color-btn-attention-dark);
    color: black;
}

.pb-btn.btn-status-attention:is(:hover, :focus, .btn-isActive) {
    color: black;
    background-color: transparent;
}

.pb-btn.btn-status-notification {
    background-color: var(--color-btn-notification-dark);
    border-color: var(--color-btn-notification-dark);
}

.pb-btn.btn-status-notification:is(:hover, :focus, .btn-isActive) {
    color: var(--color-btn-notification-dark);
    background-color: transparent;
}

/* Button Size -------------------------------------------------- */
.pb-btn.sm {
    padding: .375rem .75rem;
}

.pb-btn.md {
    padding: .5rem 1rem;
}

.pb-btn.lg {
    padding: .75rem 1.5rem;
}
/* * Borders */
.pb-btn.btn-radius-rnd {
    border-radius: 8px;
}
.pb-btn.btn-radius-sqr {
    border-radius: 0;
}